# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

WinFormsApp1/.vs/WinFormsApp1/v16/.suo
WinFormsApp1/.vs/WinFormsApp1/DesignTimeBuild/.dtbcache.v2
WinFormsApp1/.vs/slnx.sqlite
WinFormsApp1/.vs/ProjectSettings.json
